.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .12em; /* Adjust as needed */
  opacity:0;
  animation:
    typing 6s steps(37, end),
    blink-caret .7s step-end infinite;
    animation-delay: 4s;

  ;

}

/* The typing effect */
@keyframes typing {

  0%{ opacity:1;width: 0 }
  70%{ opacity:1;width: 100% }
  100%{opacity:1}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}


@media(max-width:1300px){
.typewriter h1 {
  font-size: 14px;
}

}
@media(max-width:1000px){
  .typewriter h1 {
    font-size: 8px;
  }

}
